<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= baseURL %>/css/style.css">
    <link rel="shortcut icon" href="<%= baseURL %>/ico.png" type="image/x-icon">
    <title>s4ndal.py PLAYGROUND</title>
</head>

<body>
        <nav>
                <div class="navWrap" >
                    <div class="banner">
                        <a href="<%= baseURL %>">
                        <h1>s4ndal.py</h1>
                        <h1>Playground</h1>
                        </a>
                    </div>
                        <div class="navItem" id="tools">
                        <a class="box boxFlex center" href="<%= baseURL %>/tools/ip/revip">Reverse Ip</a>
                        </div>
                        <div class="navItem" id="tools">
                        <a class="box boxFlex center" href="<%= baseURL %>/tools/rce/seomatic">Seomatic Craft CMS RCE</a>
                        </div>
            </div>
        </nav>